* {
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-form {
    max-width: 40em;
    margin: 2em auto;
    border-right: 0.07em solid #eee;
    box-shadow: #a5a5a5 0 0 77px;
    border-radius: 1em;
}

input {
    display: none;
}

input:checked + .title-mem {
    border: solid 0.07em;
    color: #33423a;
}

input:checked + .fa.fa-window-close{
    display: block;
}

.container-mem:hover .test{
    height: 20em;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    border-radius: 10px;
    padding: 0 0.7em;
}

.title-mem{
    cursor: pointer;
    width: 100%;
    height: 2.5em;
    border-radius: 1em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

}

img{
    width: 50%;
}

.fa.fa-window-close-o, .fa.fa-window-close{
    display: none;
}

.container-form:hover .fa.fa-window-close-o{
    display: block;
}

.box-mem:active{
    background-color: aliceblue;
}

input:checked ~ .test {
    height: 100%;
    opacity: 1;
    margin: 0 0.75em;
}

input[type="radio"]:checked + .title-mem {
    background-color: #6e8c82;
    border: solid 0.07em #485d51;
}

input[type="radio"]:checked + .fa.fa-window-close {
    display: block;
}

@media (min-width: 550px) {

    input:hover ~ .box-mem {
        height: 100%;
        opacity: 1;
        transition: 1.5s opacity, 1s visibility;
    }

    .test:hover{
        background-color: aliceblue;
    }

    .title-mem:hover {
        background: #aad2bb;
        border: solid 0.07em #6e8c82;
        transition: 1.5s opacity, 1s visibility;
    }
}